@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;
.box {
    box-shadow: 5px 5px 35px #fa4529;
}

.container-ats {
    max-width: 1150px;
    margin: 0 auto;
}

.iconTWL {
    margin-top: -36px!important;
}


/* Navbar --start*/

.header {
    /* position: fixed; */
    height: 80px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: visible;
    background-color: #F4F4F4;
}

.header-bg {
    background-color: #F4F4F4;
    z-index: 100;
    box-shadow: 2px 2px 4px #fa4529;
}

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    max-width: 1600px;
    margin: auto;
    height: 100%;
    /* overflow: visible; */
}

.textclass {
    font-size: 0.8rem !important;
}

.nav-item {
    font-size: 1rem;
}


/* .nav-item a:hover{
    color:#F6B803;
  } */


/* .header .navbar img {
    width: 205px;
    height: auto;
  } */

.header .nav-menu {
    display: flex;
}

.spacingYlogo {
    padding-top: -40px;
}

.spacingYtext {
    padding-top: -30px;
}

.spacinglogo {
    padding-top: 10px;
}

.spacingtext {
    padding-top: 60px;
}

.header .nav-item {
    padding: 1rem;
    font-weight: 500;
}

.rajez {
    z-index: 99!important;
}

.hamburger {
    display: block;
}

.dropdown-menu {
    visibility: visible;
}

.dropdown-mobile {
    display: none;
}

.s {
    display: block;
}

@media screen and (max-width:940px) {
    .nav-item a {
        color: #fff;
    }
    .header {
        max-width: 100%;
        background-color: #F4F4F4;
    }
    .header .navbar {
        max-width: 100%;
    }
    .hamburger {
        display: block;
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 300px;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .9);
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        z-index: 999;
        text-align: center;
        transition: .3s;
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 0.1rem 0;
    }
    /* .header .navbar img {
        width: 150px;
    } */
    .dropdown-menu {
        visibility: hidden;
    }
    .dropdown-mobile {
        display: none;
    }
    .s {
        display: block;
    }
}

@media only screen and (min-width: 510px) and (max-width: 620px) {
    .boxessingle {
        margin-top: 4rem;
    }
}

@media only screen and (min-width: 621px) and (max-width: 770px) {
    .boxessingle {
        margin-top: 9rem;
    }
}


/* Navbar--close */


/* footerstart */

.ss {
    background: black;
    color: black;
}

.checked {
    color: orange;
}